.classpath
.DS_Store
.project
*.iml
*.iws
*.log
dataSources.ids
dataSources.xml
misc.xml
modules.xml
uiDesigner.xml
workspace.xml
/.idea
/.link_to_grails_plugins
/.settings
/dmg-misc-internal
/grails-redis-etag-*.zip
/grails-redis-etag-*.zip.sha1
/plugin.xml
/target
/target-eclipse
/web-app
/wrapper
